<html>
  <head>
    <title>Remindify - Quick reminder scheduler</title>
    <link href="/static/style.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <div id="content">
      <h1>Remindify</h1>
      
    {% if user %}
    
    <div id="list_body">
      <form action="/" method="post">
        <div id="nav">
          <p class="account">Welcome, {{ user.nickname }}. <a href="{{ logout_url }}">Logout</a></p>
          <p class="timezone">You're in <select name="tz">
            <option>PST</option>
            <option selected="selected">PDT</option>
            <option>MST</option>
            <option>MDT</option>
            <option>CST</option>
            <option>CDT</option>
            <option>EST</option>
            <option>EDT</option>
            </select></p>
        </div>	
        <h2>New Reminder:</h2>
        <input type="text" class="reminder" name="raw"/>	
        <input type="submit" class="submit" value=""/>
      </form>
      {% if reminders %}
      <h3>Current Reminders:</h3>
      <ul class="reminders_list">
        {% for reminder in reminders %}
        <li>{{ reminder.text }} <span class="time">{{ reminder.scheduled|timeuntil }}</span> <form style="display:inline;" action="/" method="post">
          <input type="hidden" name="id" value="{{ reminder.key.id }}" />
          <input type="submit" value="Delete" /></form></li>
        {% endfor %}
      {% else %}
      <h3>&nbsp;</h3>
      {% endif %}
    </div>
    <div id="footer"></div>
    
    {% else %}
    
    <div id="homepage_body">
      <p>Remindify lets you quickly schedule reminders using your <a href="">notify.io</a> account using a common natural language format, like "<span>move car in 2 hours</span>" or "<span>get some sleep at 4am</span>".</p>
      <a href="{{ login_url }}" class="login">Login with your Google Account</a>
    </div>
    
    
    {% endif %}
    
    </div>
    <script type="text/javascript">
    var uservoiceOptions = {
      /* required */
      key: 'remindify',
      host: 'remindify.uservoice.com', 
      forum: '33739',
      showTab: true,  
      /* optional */
      alignment: 'left',
      background_color:'#4A9ED6', 
      text_color: 'white',
      hover_color: '#75B17D',
      lang: 'en'
    };

    function _loadUserVoice() {
      var s = document.createElement('script');
      s.setAttribute('type', 'text/javascript');
      s.setAttribute('src', ("https:" == document.location.protocol ? "https://" : "http://") + "cdn.uservoice.com/javascripts/widgets/tab.js");
      document.getElementsByTagName('head')[0].appendChild(s);
    }
    _loadSuper = window.onload;
    window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };
    </script>
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-6824126-10");
    pageTracker._trackPageview();
    } catch(err) {}</script>
  </body>
</html>